
<div id = 'replaceable'>
<body style="background-attachment: fixed; background-repeat: no-repeat;" background="/assets/bground.jpg">

<%if signed_in? %>
Balance: <%=current_user.balance %>
<div class="alert alert-error"><%=flash[:warning]%></div>
<%end%>
<% if session[:betSlip].picks_id.length == 0 %>


Your betting slip is empty.  Please click on bets to add.

<%else%>



<% (0..(session[:betSlip].picks_id.length-1)).each do |cursor| %>

<h2><%=session[:betSlip].eventNames[cursor]%><%=session[:betSlip].betNames[cursor]%></h2>


<div class = "left"><slipGreen><%=session[:betSlip].picks_name[cursor]%></slipGreen></div>
<div class = "right"><slipNumber><%=session[:betSlip].picks_odds[cursor].to_s+"  "%></slipNumber><%=link_to content_tag(:span,'', class: "glyphicon glyphicon-remove")+ "", remove_bet_path(cursor), method: :post, :remote => true, class: "glyphicon gyphicon-star remove_fields"%></div>

<br>

 <slipDivider>--------------------------------------</slipDivider>
<%end%>

<ul style ="list-style: none;">


<li> 
<slipGreen>Total bets:</slipGreen>
<div class="right"><slipNumber><%=session[:betSlip].picks_id.length %></slipNumber></div>
</li>

<li>
<slipGreen>Total odds:</slipGreen>
<div class="right"><slipNumber><%=session[:betSlip].totalOdds %></slipNumber></div>
</li>

<li><slipGreen>Stake:</slipGreen>
<div class = "right"><slipNumber><%=text_field :stake,:amount, :value  => session[:betSlip].stake.to_s, :size =>10, :maxlength =>"4", :onchange => "$.ajax({
	type: 'POST',
	url: 'update_stake',
	data: {amount: $('#stake_amount').val()
		},
	dataType: 'script'
	//do nothing
	

	});"%></slipNumber></div>
	</li>



	
<li>
<slipGreenBold>Possible winnings:</slipGreenBold>
<div class = "right"><slipNumber><%=session[:betSlip].winnings.to_s+ "  GMD" %></slipNumber></div>
</li>
</ul>
<br>
<%if session[:betSlip].picks_id.length >=3 && signed_in? %>
<center><%=link_to "place bet",issue_ticket_path, :class =>"btn btn-danager", method: :post, :remote => true%>
</center>
<%end%>
<center><%=link_to "Remove all", reset_bet_slip_path, method: :post,:remote => true%></center>

<%end%> 




</div>
