
<div id = "replaceableLoginStatus">

 <div class="navbar navbar-fixed-top navbar-inverse" role="navigation" id = 'frontOfficeBar'>

<ul class="nav pull-right">

<%if !signed_in? %>




     

    
    
      
        
        
        <table border="0", cellpadding="0px">
        <tr>
         <%= form_for(:session, url: front_signin_path) do |f| %>
        
      <td><%=f.text_field :email, :placeholder =>"username" %></td>  <td><%=f.password_field :password, :placeholder => "password" %></td>
     
      <td>
      <center>

      <%=f.submit "Sign in"%>
       <% end %>
      </center>
      </td>
      </tr>
      <%if !session[:current_card] %>
      <tr>
     
         
      <%=form_tag(controller: "scratch_cards", action: "verify_card", method: "get") do %>
       <td><%=label_tag(:label, "Verify a Scratch card") %></td>
       <td><%=password_field_tag(:hidden_number,'', :placeholder => 'code') %></td>
       <td><%=submit_tag("Verify",class: "btn btn-small btn-primary")%></td>
       <%end%>
       </td>
       </tr>
       <%end%>
      </table>

  

<%end%>


<%if session[:current_card] %>


    
        <table id = "miniTable">
        <tr>
        
      <td>Scratch Card Activated</td>  <td><%=session[:current_card].credit.to_s+ ' GMD'%></td>
     
      <td>
      <center>
      <%=link_to  "Cancel", unverify_card_path, method: :post %>
      </center>
      </td>
      </tr>
      </table>

<%end%>
<%if signed_in? %>

  
     

    
    
      
        
         
        <table id = "miniTable">
        <tr>
        
      <td><%=current_user.name%></td>  <td><%=current_user.balance.to_s + ' GMD'%></td>
     
      <td>
      <center>
      <%=link_to  "Sign out", front_signout_path, method: :post %>
      </center>
      </td>
      </tr>
      </table>


<%end%>

</ul>
</div>
</div>

<br>
<br>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 offset1">
    <div class = "well">
           
            
           
<table class = "table table-hover table-striped table-bordered" id = 'fheader'><thead><tr><th>SPORT'S MENU</th></tr></thead></table>
             
      <div class = "collapse navbar-collapse navHeaderCollapse">
            <ul class = "nav navbar-nav navbar-left">

                <a href = "#" class = "dropdown-toggle" data-toggle ="dropdown">Football</a>
                <ul class = "dropdown-menu">
                   <li><a href = "#">All Today's events</a></li>
                   <li><a href = "#">All Tomorrows's events</a></li>
                    <%League.all.each do |league| %>
                    <li><a href="#"><%=league.name%></a></li>
                
                  <%end%>  
                </ul>

           
              </ul>
              </div>
              </div>

            
   



      <br>
      <br>

     <div class="well">   

     <table class = "table table-hover table-striped table-bordered" id = 'fheader'><thead><tr><th>SEARCH</th></tr></thead></table>
             
            <%=form_tag(controller: "events", action: "search", method: "get" ) do %>
          

                 <%= label_tag(:q, "") %>
                  <%= text_field_tag(:q,'', :placeholder => 'Event id')%>
                    <%= text_field_tag(:q,'', :placeholder => 'Event name')%>
                  <%=submit_tag("search",class: "btn btn-small btn-primary")%>
                  <%end%>
         
      </div><!--/.well -->
    </div><!--/span-->

    <div class="span5 span-fixed-sidebar" id="fixtures">
          
             <%@leagues.each do |league|%>
      <table class = "table table-hover table-striped table-bordered" id = 'fheader'><thead><tr><th><%=league.name%></th></tr></thead></table>
    
       <%league.events.each do |event|%>
        
        
          <fleague><%=event.date.strftime("%A") + " " +event.date.to_date.to_s%></fleague>
          <br>
        <eventTitle><%=event.name%></eventTitle>
          <br>
        
         
         <%event.bets.each do |bet| %>
        

          

            <%if bet.bet_type.name.downcase.include? "versus" and bet.bet_type.name.downcase.include? "draw"%>
              <div class = "left"><betTitle><%=event.name%></betTitle></div>
          
           
            <div class = "left"><betTitle><%=bet.bet_type.name%></betTitle></div>
            <div class = "right">
           <%bet.bet_items.each do |bet_item| %>
            <%=link_to bet_item.odds.to_s ,placebet_path(bet_item.id), :class =>"btn btn-danager btn-mini", method: :get, :remote => true%>
           <%end%>
           </div>
           <br>

           <%else%>
         
         
          <div class = "left"><betTitle><%=event.name+" "+bet.bet_type.name%></betTitle></div>
         <br>

          
           <%bet.bet_items.each do |bet_item| %>
        
           <ul style ="list-style: none;">
           <li>
   <betFont><%=bet_item.name%></betFont>

             <div class = "right"><table border = "0"><tr><td><%=link_to bet_item.odds.to_s,placebet_path(bet_item.id), :class =>"btn btn-danager btn-mini",method: :get, :remote => true%></td></tr></table></div>
           
             </li>
             </ul>
          
           <%end%>
              
          

          <br>
          <%end%>
         <%end%>
         
         <%end%>
       <%end%>
       
      </div>
    

  
      
      <div class="span2 offset0">
      
      
        <div id ="well">         
           

          <li class="nav-header"><center><b>Betting Slip</b></center></li>
          <div id = 'replaceable'>Your betting slip is empty.  Please click on bets to add.</div>

         
       

      </div><!--/.well -->
      
      <img src= "/assets/betslip.png", id = "slip2">
     
    
      
    </div><!--/span-->
    
     
      
  </div><!--/row-->

 <div class="alert alert-error"><%=flash[:success]%></div>

</div><!--/.fluid-container-->

