

<br>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="#">Project name</a>
      <div class="nav-collapse">
        <ul class="nav">

          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 offset1">
    <div class = "well">
           
            
           
<table class = "table table-hover table-striped table-bordered" id = 'fheader'><thead><tr><th>SPORT'S MENU</th></tr></thead></table>
             
      <div class = "collapse navbar-collapse navHeaderCollapse">
            <ul class = "nav navbar-nav navbar-left">

                <a href = "#" class = "dropdown-toggle" data-toggle ="dropdown">Football</a>
                <ul class = "dropdown-menu">
                   <li><a href = "#">All Today's events</a></li>
                   <li><a href = "#">All Tomorrows's events</a></li>
                    <%League.all.each do |league| %>
                    <li><a href="#"><%=league.name%></a></li>
                
                  <%end%>  
                </ul>

           
              </ul>
              </div>
              </div>

            
   



      <br>
      <br>

     <div class="well">   

     <table class = "table table-hover table-striped table-bordered" id = 'fheader'><thead><tr><th>SEARCH</th></tr></thead></table>
             
            <%=form_tag(controller: "events", action: "search", method: "get" ) do %>
          

                 <%= label_tag(:q, "") %>
                  <%= text_field_tag(:q,'', :placeholder => 'Event id')%>
                    <%= text_field_tag(:q,'', :placeholder => 'Event name')%>
                  <%=submit_tag("search",class: "btn btn-small btn-primary")%>
                  <%end%>
         
      </div><!--/.well -->
    </div><!--/span-->

    <div class="span5 span-fixed-sidebar" id="fixtures">
          
             <%@leagues.each do |league|%>
      <table class = "table table-hover table-striped table-bordered" id = 'fheader'><thead><tr><th><%=league.name%></th></tr></thead></table>
    
       <%league.events.each do |event|%>
        
        
          <fleague><%=event.date.strftime("%A") + " " +event.date.to_date.to_s%></fleague>
          <br>
        <eventTitle><%=event.name%></eventTitle>
          <br>
        
         
         <%event.bets.each do |bet| %>
        

          

            <%if bet.bet_type.name.downcase.include? "versus" and bet.bet_type.name.downcase.include? "draw"%>
              <div class = "left"><betTitle><%=event.name%></betTitle></div>
          
           
            <div class = "left"><betTitle><%=bet.bet_type.name%></betTitle></div>
           <%bet.bet_items.each do |bet_item| %>
             <div class = "right"><%=link_to bet_item.odds.to_s ,placebet_path(bet_item.id), :class =>"btn btn-danager btn-mini", method: :get, :remote => true%></div>
           <%end%>
           <br>

           <%else%>
         
         
          <div class = "left"><betTitle><%=event.name+" "+bet.bet_type.name%></betTitle></div>
         <br>

          
           <%bet.bet_items.each do |bet_item| %>
        
           <ul style ="list-style: none;">
           <li>
   <betFont><%=bet_item.name%></betFont>

             <div class = "right"><table border = "0"><tr><td><%=link_to bet_item.odds.to_s,placebet_path(bet_item.id), :class =>"btn btn-danager btn-mini",method: :get, :remote => true%></td></tr></table></div>
           
             </li>
             </ul>
          
           <%end%>
              
          

          <br>
          <%end%>
         <%end%>
         
         <%end%>
       <%end%>
        <p><a class="btn btn-primary btn-large">Learn more »</a></p>
      </div>
    

  
      
      <div class="span2 offset0">
      
      
        <div id ="well">         
           

          <li class="nav-header"><center><b>Betting Slip</b></center></li>
          <div id = 'replaceable'>Your betting slip is empty.  Please click on bets to add.</div>

         
       

      </div><!--/.well -->
      
      <img src= "/assets/betslip.png", id = "slip2">
     
    
      
    </div><!--/span-->
    
     
      
  </div><!--/row-->

 

</div><!--/.fluid-container-->

