

<br>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="#">Project name</a>
      <div class="nav-collapse">
        <ul class="nav">

          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 offset1">
     
        <div class="well">         
            
           

             
            <%=form_tag(controller: "events", action: "search", method: "get" ) do %>
          

                 <%= label_tag(:q, "") %>
                  <%= text_field_tag(:q,'', :placeholder => 'Event id')%>
                    <%= text_field_tag(:q,'', :placeholder => 'Event name')%>
                  <%=submit_tag("search",class: "btn btn-small btn-primary")%>
                  <%end%>
         
      </div><!--/.well -->
     
    </div><!--/span-->

    <div class="span5 span-fixed-sidebar" id="fixtures">
            <div class="hero-unit">
             <%@leagues.each do |league|%>
      <table class = "table table-hover table-striped table-bordered" id = 'fheader'><thead><tr><th><%=league.name%></th></tr></thead></table>
      <br>
       <%league.events.each do |event|%>
          <fleague><%=event.date.strftime("%A") + " " +event.date.to_date.to_s%></fleague>
          <br>
        
         <br>
         <br>
         <%event.bets.each do |bet| %>
        

          

            <%if bet.bet_type.name.downcase.include? "versus" and bet.bet_type.name.downcase.include? "draw"%>
              <div class = "left"><fleague2><%=event.name%></fleague2></div>
            <br>
           <br>
            <div class = "left"><fleague2><%=bet.bet_type.name%></fleague2></div>
           <%bet.bet_items.each do |bet_item| %>
             <div class = "right"><%=link_to bet_item.odds.to_s ,placebet_path(bet_item.id), :class =>"btn btn-danager btn-mini", method: :get, :remote => true%></div>
           <%end%>
            <br>
           <%else%>
          <br>
          <br>
          <div class = "left"><fleague2><%=event.name+" "+bet.bet_type.name%></fleague2></div>
          <br>
           <%bet.bet_items.each do |bet_item| %>
           <br>
           
         <div class = "left"><table border = "0"><tr><td><%=bet_item.name%></td></tr></table></div>

             <div class = "right"><table border = "0"><tr><td><%=link_to bet_item.odds.to_s,placebet_path(bet_item.id), :class =>"btn btn-danager btn-mini",method: :get, :remote => true%></td></tr></table></div>
             <br>
           <%end%>
          

          <br>
          <%end%>
         <%end%>
         
         <%end%>
       <%end%>
        <p><a class="btn btn-primary btn-large">Learn more »</a></p>
      </div>
      </div>
   

  
      
      <div class="span2 offset0">
      
      <div class="sidebar-nav-fixed">
        <div class="well" id = "well">         
           

          <li class="nav-header"><center><b>Betting Slip</b></center></li>
          <div id = 'replaceable'>Your betting slip is empty.  Please click on bets to add.</div>

          
       

      </div><!--/.well -->
     
      <img src= "/assets/betslip.png", id = "slip2">
     
    
      </div> <!--/sidebar-nav-fixed -->
    </div><!--/span-->
    
     
      
  </div><!--/row-->

 

</div><!--/.fluid-container-->

