<% provide(:title, 'Edit') %>
<h1>Please enter user details: </h1>
<div class = "row">
	<div class = "span6 offset3">
<%=form_for(@user) do |f| %>
	<%=render 'shared/error_messages' %>
<%= f.label :name %>
			<%= f.text_field :name %>

			<%=f.label :email%>
			<%=f.text_field :email %>

			<%f.label :role %>
			<%if current_user.role_id == 1 %>
			<%=collection_select(:user, :role_id, Role.all, :id, :name) %>
			<%end%>
			<%if current_user.role_id == 2 %>
			<select id = "user_role_id" name = "user[role_id]">
				<option value = "3">Operator</option>
				</select>
			<%end%>

			<%=f.label :password %>
			<%=f.password_field :password %>

			<%=f.label :password_confirmation, "Confirmation" %>
			<%=f.password_field :password_confirmation %>

			<%=f.submit "Update", class: "btn btn-large btn-primary" %>
			<%end%>
	</div>
	</div>
	</div>

