<h2>Bet<%=f.link_to_remove "-remove bet" %> </h2>

	
	<div class = "microposts">
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :bet_type %>
	<%= f.text_field :bet_type %><br />
	   
	</div>
	<aside class = "span10">
	<div class = "kaaywintable1>"
		<table style = "width:400px" border=0><tr><td>   Name</td><td>Odds</td></td></table>
		</aside>
     <%= f.fields_for :bet_items %>

   <%=f.link_to_add "Add odd", :bet_items %> 
	<br>

	
	<br>
	

	
	