
<tr>
<td><%=event.id%></td>
<td><%=event.name%></td>
<td><%=event.date%></td>
<td><%=event.result%></td>

<td><%=event.active %></td>
<td><%=League.find(event.league_id).name %></td>


<% if current_user.role = 1%>
<td>

<%if !fromResultsMenu %>
<%= link_to "edit", edit_event_path(event)  %>
<%= link_to "delete", event, method: :delete, data: {confirm: "Are you sure?"} %>
<%end%>
<% if event.date < Time.now and fromResultsMenu%>
<%= link_to "enter results", result_path(:id => event.id) %>
<%end%>
</td></td>









<%end%>


</tr>



