
<tr>
<td><%=event.id%></td>
<td><%=link_to event.name, event_path(event)%></td>
<td><%=event.date%></td>
<td>x</td>

<td><%=event.active %></td>
<td><%=League.find(event.league_id).name %></td>


<% if current_user.role = 1%>
<td>

<%= link_to "view", event_path(event)  %>
<%= link_to "edit", edit_event_path(event)  %>

<%= link_to "delete", event, method: :delete, data: {confirm: "Are you sure?"} %>
</td></td>
<%end%>


</tr>



