<% provide(:title, "Add bet") %>

		
	<% @bets.each do |bet| %>
	<%=nested_form_for (bet) do |ff| %>
	
	<table style = "width:320px" border=0>

	<tr><th><p align = "left"><%= ff.label :name %></p></th></tr>
	<tr><td><%= ff.text_field :name %></td></tr>

	<tr><th><p align = "left"><%= ff.label :bet_type %></p></th></tr>
	<tr><td><%= ff.text_field :bet_type %></td></tr>
	</table>
	

	
	
	
	<%=ff.fields_for :bet_item do |bet_item_form| %>
	<table style = "width:300px" border=0><tr><th>Name</th><th>Odds</th></tr></table>
		<table class = "bet_items" border = 1>
	


	<tr>

	<td><%= bet_item_form.text_field :name %></td>
	<td><%= bet_item_form.text_field :odds %></td>
	<tr>
	

	
	
	
	
	
	</table>
	<%= ff.link_to_add 'Add', :bet_items %>
	<br>
	<br>
	<% end %>
	
	
	

	<%=ff.submit "Create bet", class: "btn btn-large btn-primary" %>
	<%end%>
<%end%>

