<% provide(:title, "Add bet") %>

		

		<%=form_tag( "placebet", method: "post") do %>
		<table><th><h1>Add bet </h1></th></table>

			<%= label_tag(:event, Event.find(@id).name) %>
			<td><%=hidden_field_tag :eventid, @id, hidden: true %></td>
		<%= label_tag(:betname, "Name") %>
		<table border="0">
		<td><%=text_field_tag "betname", "", size: 40 %></td>
		</table>

		<%= label_tag(:bettype, "Type") %>
		<table border=0>
		<td><%=text_field_tag"bettype", "", size: 40  %></td>

		<table border=0>
		<th>Name</th>
		<th>Od</th>
		<tr><td><%=text_field_tag "betitem1name", "", size: 40 %></td><td><%=text_field_tag "betitem1odd", "", size: 40 %></td></tr>

		<tr><td><%=text_field_tag "betitem21name", "", size: 40 %></td><td><%=text_field_tag "betitem2odd", "", size: 40 %></td></tr>
		<tr><td><%=text_field_tag "betitem3name", "", size: 40 %></td><td><%=text_field_tag "betitem3odd", "", size: 40 %></td></tr>
		</table>
		<%= submit_tag("Submit") %>
		<%end%>
		<br><br><br>


