<% provide(:title, 'New Event') %>

<div class = "itemForm">
<h1>Please enter event details: </h1>


<div class = "row">
	<div class = "span3 offset1">
		<%= nested_form_for(@event) do |f| %>
			<%=render 'shared/error_messages_events' %>
			<p>
			<%= f.label :name %>
			<%= f.text_field :name %>

		
			<% if @league_id.nil? %>
			<label>League</label>
			
			<%=collection_select(:event, :league_id, League.all, :id, :name) %>
			<%else%>
			
			<%=hidden_field_tag "lid", League.find(@league_id).id %>

			

			
			<% end %>
			<%=f.label :date%>

			<input type="text" class='tinytext' id="datetimepicker" name='date'></input>
			<script type="text/javascript">
  			$(function() {
   		 $('#datetimepicker').datetimepicker({
   		 	dateFormat : 'yy-mm-dd',
      		
   			 });
  			});
		</script>


			


			

			<%=f.label :active%>
			<%=check_box("event", "active", {}, "yes", "no") %>
			<br><br>

			</p>
			 <%= f.fields_for :bets %>
			 <p><%= f.link_to_add "Add bet", :bets %></p>
			<%=f.submit "Register this event", class: "btn btn-large btn-primary" %>
			<%end%>
		</div>
	</div>

	</div>
