<% provide(:title, 'New Event') %>
<h1>Please enter event details: </h1>
<div class = "row">
	<div class = "span6 offset3">
		<%= nested_form_for(@event) do |f| %>
			<%=render 'shared/error_messages_events' %>
			<p>
			<%= f.label :name %>
			<%= f.text_field :name %>

		
			<% if @league_id.nil? %>
			League
			
			<%=collection_select(:event, :league_id, League.all, :id, :name) %>
			<%else%>
			
			<%=hidden_field_tag "lid", League.find(@league_id).id %>

			

			
			<% end %>
			<%=f.label :date%>

			
			<%= f.input :date, :as => :datetimepicker %>





			<div class="well">

  			<div id="datetimepicker1" class="input-append date">
   			 <input data-format="dd/MM/yyyy hh:mm:ss" type="text" name = "date"></input>
    		 <span class="add-on">
      		 <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      		</i>
    		</span>
  			</div>
			</div>
			<script type="text/javascript">
  			$(function() {
   		 $('#datetimepicker1').datetimepicker({
      		language: 'pt-BR'
   			 });
  			});
		</script>

			<%=f.label :active%>
			<%=check_box("event", "active", {}, "yes", "no") %>
			<br><br>

			</p>
			 <%= f.fields_for :bets %>
			 <p><%= f.link_to_add "Add bet", :bets %></p>
			<%=f.submit "Register this event", class: "btn btn-large btn-primary" %>
			<%end%>
		</div>
	</div>	